<!doctype html>
<html>
  <head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/static/favicon.png"/>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <link rel="stylesheet" href="/static/pygments.css" type="text/css">
    <link href="/atom.xml" rel="alternate" title="{{ site_name }}" type="application/atom+xml">
  </head>
  <body>
    <div class=container>
      <div class=header>
        <a href='/'>{{ site_name }}</a>
      </div>
      <div class=navigation>
        <ul>
          <li><a href='/'>blog</a>
          <li><a href='/archive.html'>archive</a>
          <li><a href='/tags/'>tags</a>
          <li><a href='/about/'>about</a>
        </ul>
      </div>
      <div class=body>

{% block content %}
{% endblock %}

      </div>
      <div class=footer>
        <p><a href='https://github.com/scturtle/turtleblog'>turtleblog</a> &copy; 2013 scturtle
        <p> <a href="mailto:scturtle@gmail.com">mail</a>,
        <a href="http://twitter.com/scturtle">twitter</a>,
        <a href="http://github.com/scturtle">github</a>,
        <a href='/atom.xml' rel=alternate title="Recent Blogs | {{ site_name }}">feed</a>
      </div>
    </div>
{% block extrascript %}{% endblock %}
<!--<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33410961-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>-->
  </body>
</html>
