{% extends 'base.html' %}

{% block title %}{{ title }} | {{ site_name }}{% endblock %}

{% block content %}
<article>
<h1 class=title>{{ title }}</h1>
<p class=info>
{{ date | dateformat }}
# for tag in tags:
<a href='/tags/{{ tag }}.html'>#{{ tag }}</a>
# endfor
</p>
{{ content | safe }}
</article>
<div id="show_disqus"><a onclick="load_disqus();return false;" href="##">Show comments</a></div>
<div id="disqus_thread"></div>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">
  function load_disqus() {
    var disqus_shortname = '{{disqus_shortname}}';
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    document.getElementById('show_disqus').style.display='none';
  };
</script>

# if enable_mathjax:
<script type="text/javascript" 
  src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script>
<script type="text/x-mathjax-config"> 
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ["\\(","\\)"]],
    processEscapes: true
  },
# if ipynb:
  displayAlign: 'left',
  "HTML-CSS": {styles: {'.MathJax_Display': {"margin": 0}}}
# endif
}); </script>
# endif
{% endblock %}
