/* modified from http://lucumr.pocoo.org/ */
/* general style */
body {  font-family: /* from "safe web fonts" */
        "Palatino Linotype",	/* Windows */
        "URW Palladio L",	/* Unix+FontConfig (ugly!) */
        "palladio l",		/* Unix+X+FreeType */
        palatino,		/* MacOS */
        "book antiqua",		/* Win95 */
        /* Fallback options */
        times,			/* Unix+X, MacOS */
        serif;
        /* "Goudy Old Style" is vaguely like Palatino. */
        background-image: url("/static/bg.png"); /*from lhzhang.com*/
        /*background-color: #F8F8F8;*/
        font-size: 16px; margin: 0; padding: 0; }
hr   { border: none; border-top: 1px solid #ddd; height: 0; }
a    { color: #204A87; text-decoration: none; }
code { color: #204A87; }
a:hover { text-decoration: underline; }

/* headlines */
h1, h2, h3, h4, h5, h6      { font-weight: normal; }
h1                          { font-size: 30px; }
h2                          { font-size: 24px; }

/* layout elements */
div.body                    { clear: both; /*border-top: 1px solid #bbb;*/
                              padding-top: 20px;}
div.container               { width: 740px; margin: 64px auto; padding: 0; }
div.header                  { float: left; }
div.header a                { font-size: 24px; }
div.navigation              { float: right; padding-top: 8px; }
div.navigation ul           { margin: 0; padding: 0; list-style: none; }
div.navigation ul li        { display: inline; margin: 0 2px; padding: 0; }
div.footer                  { border-top: 1px dotted #bbb; padding-top: 9px;
                              margin-top: 32px; font-size: 16px; color: #555;
                              text-align: center; }
div.footer p                { margin: 0; }
h1 + .info                  { color: #555; margin-top: -15px; font-style: italic; }

/* margins and stuff */
p, ul, ol, pre, table       { line-height: 1.5; margin: 20px 0; }
ul ol, ol ul, ul ul, ol ol  { margin: 10px 0; padding: 0 0 0 40px; }
li                          { padding: 0; }

/* code */
pre, code { font-family: Menlo,Monaco,"Andale Mono",
            "lucida console", "Courier New",monospace;
            border: 1px solid #ddd; border-radius: 5px; }
pre       { font-size: 0.82em; line-height: 1.3em; 
            padding: 10px; background: #f5f5f5;
            overflow: auto;}
code      { font-size: 13px; background: #f5f5f5;
            padding: 2px 5px; margin: 0 2px; }

/* tables */
table           { border: 1px solid #ddd; border-collapse: collapse;
                  background: #fafafa; }
td, th          { padding: 2px 12px; border: 1px solid #ddd; }

/* blog overview */
div.overview       { margin: 25px 122px 25px 102px; }
div.overview h1    { display: inline; font-size: 20px; }
div.detail         { margin-left: 140px; }
div.date           { padding-top: 2px;
                     float: left; width: 125px; color: #555;
                     text-align: right; font-style: italic; }

/* picture */
img { border-radius: 0.2em;
      box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
      box-sizing: border-box;
      border: #fff 0.3em solid;
      display: block; margin: 0 auto; 
      /* for mobile */
      max-width: 100%;
      width: expression(this.width>740?"740px":this.width);
      }

/* pagination */
div.pagination  { margin: 24px 0 0 0; text-align: center; }

/*tags*/
ul.tagcloud     { font-size: 16px; margin: 36px 0; padding: 0;
                  list-style: none; }
ul.tagcloud li  { margin: 0; padding: 0 10px; display: inline; }

/* blockquote */
blockquote, q{ 
    border-left: 3px solid #550099;
    font-style: italic;
    margin-left: 0;
    padding-left: 40px;
    color: #555;
}
/* for mobile */
@media(max-width: 740px){
div.container { width: auto; margin: 20px 10px; }
div.overview { margin-left: 0px; margin-right: 0px; }
div.date { display: none; }
div.header a {font-size: 20px;} div.navigation { padding-top: 5px; }
div.detail { margin-left: 0px; text-align: center;}
}
