/* modified from http://lucumr.pocoo.org/ */
/* general style */
body    { font-family: 'Palatino';
          font-size: 16px; margin: 0; padding: 0; }
a       { color: #432165; text-decoration: none; }
a:hover { text-decoration: underline; }

/* headlines */
h1, h2, h3, h4, h5, h6      { font-weight: normal; }
h1                          { font-size: 30px; }
h2                          { font-size: 24px; }

/* layout elements */
div.body                    { clear: both; border-top: 1px dotted #ddd;
                              padding-top: 20px;}
div.container               { width: 740px; margin: 48px auto; padding: 0; }
div.header                  { float: left; }
div.header a                { font-size: 24px; line-height: 50px; }
div.navigation              { float: right; margin-top: 20px; }
div.navigation ul           { margin: 0; padding: 0; list-style: none; }
div.navigation ul li        { display: inline; margin: 0 2px; padding: 0; }
div.footer                  { border-top: 1px dotted #ddd; padding-top: 9px;
                              margin-top: 32px; font-size: 16px; color: #888;
                              text-align: center; }
div.footer p                { margin: 0; }
h1 + .info                  { color: #888; margin-top: -20px;
                              font-style: italic; }

/* margins and stuff */
p, ul, ol, pre, table       { line-height: 1.5; margin: 20px 0; }
ul ol, ol ul, ul ul, ol ol  { margin: 10px 0; padding: 0 0 0 40px; }
li                          { padding: 0; }

/* code */
pre, code   { border: 1px solid #ddd; border-radius: 5px; }
pre         { font-size: 0.82em; line-height: 1.3em; 
              padding: 10px; background: #fafafa;
              overflow: auto;}
code        { font-size: 16px; background: #fafafa; color: #432165; 
              padding: 0 5px; margin: 0 2px; }

/* tables */
table           { border: 1px solid #ddd; border-collapse: collapse;
                  background: #fafafa; }
td, th          { padding: 2px 12px; border: 1px solid #ddd; }

/* blog overview */
div.overview                    { margin: 25px 122px 25px 102px; }
div.overview div.detail         { margin-left: 140px; }
div.overview h1                 { display: inline; font-size: 20px; }
div.overview div.date           { padding-top: 2px;
                                  float: left; width: 120px; color: #888;
                                  text-align: right; font-style: italic; }

/* picture */
img { border-radius: 0.2em;
      box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
      box-sizing: border-box;
      border: #fff 0.3em solid;
      display: block; margin: 0 auto; }

/* pagination */
div.pagination  { margin: 24px 0 0 0; text-align: center; }

/*tags*/
ul.tagcloud     { font-size: 16px; margin: 36px 0; padding: 0;
                  list-style: none; }
ul.tagcloud li  { margin: 0; padding: 0 10px; display: inline; }
