/* modified from lucumr.pocoo.org, haskell-lang.org */
/* general style */
@import url(//fonts.googleapis.com/css?family=Open+Sans);
/*@import url(//fonts.useso.com/css?family=Open+Sans);*/
body { font-family: 'Open Sans', sans-serif;
       font-size: 16px; margin: 0; padding: 0;
       color: #333; background-color: #fdfdfd; }
hr   { border: none; border-top: 1px solid #ddd; height: 0; }
a    { color: #37638E; text-decoration: none; }
code { color: #37638E; }
a:hover { text-decoration: underline; }
mathjax { font-size: 14px; }

/* headlines */
h1, h2, h3, h4, h5, h6      { font-weight: normal; }
h1                          { font-size: 30px; }
h2                          { font-size: 24px; }

/* layout elements */
div.body                    { clear: both; }
div.container               { width: 740px; margin: 20px auto; padding: 0; }
div.header                  { line-height: 64px; border-bottom: 1px dotted #bbb; }
.site-name                  { font-size: 24px;
                              color: white; background-color: #6285a7;
                              border-radius: 4px; padding: 0 10px; }
nav                         { float: right; padding-top: 8px; }
nav > a                     { margin: 0 2px; }
div.footer                  { padding-top: 9px; border-top: 1px dotted #bbb;
                              margin-top: 24px; font-size: 16px; color: #555;
                              text-align: center; }
div.footer p                { margin: 0; }
h1 + .info                  { color: #555; margin-top: -15px; }

/* margins and stuff */
p, ul, ol, pre, table       { line-height: 1.5; margin: 20px 0; }
ul ol, ol ul, ul ul, ol ol  { margin: 10px 0; padding: 0 0 0 40px; }
li                          { padding: 0; }

/* code */
pre, code { font-family: Menlo,Monaco,"Andale Mono",
            "lucida console", "Courier New",monospace;
            /*border: 1px solid #ccc;*/ border-radius: 4px;
            color: #333;  background-color: #eef0f3; }
pre       { font-size: 0.82em; line-height: 1.42857; 
            padding: 10px; overflow: auto;}
code      { font-size: 13px; padding: 2px 5px; margin: 0 2px; }

/* tables */
table           { border: 1px solid #ddd; border-collapse: collapse;
                  background-color: #eef0f3; }
td, th          { padding: 2px 12px; border: 1px solid #ddd; }

/* blog overview */
div.overview       { margin: 25px 122px 25px 102px; }
div.overview h1    { display: inline; font-size: 20px; }
div.detail         { margin-left: 150px; }
div.date           { padding-top: 2px;
                     float: left; width: 135px; color: #555;
                     text-align: right; font-size: 14px; }

/* picture */
img { border-radius: 0.2em;
      box-shadow: rgba(0,0,0,0.15) 0 1px 2px;
      box-sizing: border-box;
      border: #fff 0.3em solid;
      display: block; margin: 0 auto; 
      /* for mobile */
      max-width: 100%;
      width: expression(this.width>740?"740px":this.width);
      }

/* pagination */
div.pagination  { text-align: center; }

/*tags*/
ul.tagcloud     { font-size: 16px; margin: 36px 0; padding: 0;
                  list-style: none; }
ul.tagcloud li  { margin: 0; padding: 0 10px; display: inline; }

/* blockquote */
blockquote, q{ 
    border-left: 3px solid #550099;
    font-style: italic;
    margin-left: 0;
    padding-left: 40px;
    color: #555;
}
/* for mobile */
@media(max-width: 740px){
div.container { width: auto; margin: 20px 10px; }
div.overview { margin-left: 0px; margin-right: 0px; }
div.date { display: none; }
div.header a {font-size: 20px;} div.navigation { padding-top: 5px; }
div.detail { margin-left: 0px; text-align: center;}
}
